.pagination {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.page-butn {
  border: none;
  outline: none;
  color: white;
  background: none;
  font-size: 17px;
}

.selected {
  border-radius: 5px;
  background-color: $darker-main-color;
}