.fas.fa-sort-down, .fas.fa-sort-up{
  color: white;
  font-size: 17px;
  padding: 5px;
}

.fas.fa-sort-down.unselected {
  color: $main-color;
}

.sort {
  border: none;
  outline: none;
  background: none;
}