@import 'styles/config';
@import 'styles/table';
@import 'styles/sort-button';
@import 'styles/pagination';

body {
 display: flex;
 justify-content: center;
 padding: 20px;
 background-color: $dark-color;
}